GITHUB_TOKEN=YOUR_TOKEN_HERE
# Generate a fine grained personal access token (PAT) with the following scopes:
# - select repo
# select actions as permission
GITHUB_OWNER=YOUR_GITHUB_USERNAME
GITHUB_REPO=YOUR_REPOSITORY_NAME